---
import Layout from "../layouts/Layout.astro";
import senatorsInfo from "../senadores.json";
import { getSenatorFullInfo } from "../utils";
import senatorsFullInfo from "../mock.json";
import SenatorCard from "../components/SenatorCard.astro";

// const senators = await Promise.all(
// 	senatorsInfo.map((s) => getSenatorFullInfo(s)),
// ).then((senators) => senators);
// console.log(senators);
---

<Layout
	title="¿Cuánto Cuesta Un Senador Argentino? | Cálculo del costo real por cada senador argentino"
	description="Una simple página web para mostrar el costo real de cada senador argentino, contando no solo su sueldo, sino el de cada uno de sus asesores por categoría."
>
	<main class="my-12">
		<h1 class="text-center font-mono w-full text-4xl">
			¿Cuanto Cuesta DE VERDAD Un Senador Argentino?
		</h1>
		<section class="text-2xl">
			{
				senatorsFullInfo.map((s) => {
					return <SenatorCard senator={s} />;
				})
			}
		</section>
	</main>
</Layout>
