---
import Layout from "../layouts/Layout.astro";
import senators from "../senadores.json";
import { getSenatorAssistantsList } from "../utils";

const URL_SENATOR_BY_ID = (id: string) =>
	`https://www.senado.gob.ar/senadores/senador/${id}`;

const getSenatorCost = async (senatorId: string) => {
	const senatorAssistants = await fetch(URL_SENATOR_BY_ID(senatorId))
		.then((r) => r.text())
		.then((html) => getSenatorAssistantsList(html))
		.catch(console.error);

	return senatorAssistants;
};

getSenatorCost("572").then(console.log);
---

<Layout
	title="¿Cuánto Cuesta Un Senador Argentino? | Cálculo del costo real por cada senador argentino"
	description="Una simple página web para mostrar el costo real de cada senador argentino, contando no solo su sueldo, sino el de cada uno de sus asesores por categoría."
>
	<main class="my-12">
		<h1 class="text-center font-mono w-full text-4xl">
			¿Cuanto Cuesta DE VERDAD Un Senador Argentino?
		</h1>
		<section class="text-2xl">
			{
				senators.map((s) => {
					return <p>{`${s.NOMBRE}, ${s.APELLIDO}`}</p>;
				})
			}
		</section>
	</main>
</Layout>
