---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/ccusa/logo_senado.png" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<div
			class="fixed w-screen h-screen top-0 left-0 -z-10 flex justify-center items-center bg-blue-50"
		>
			<img
				src="/ccusa/logo_senado.svg"
				alt="Logo del Senado Argentino"
				class="w-72 opacity-15"
			/>
		</div>
	</body>
</html>

<style is:global></style>
